.promo {
    min-height: 50vh;
    position: relative;
    background: url('../img/main_bg_1.jpg') no-repeat 0%/cover;
    padding-top: 173px;
    &__title {
        width: 535px;
        margin-top: 10px;
        color: $promo-color;
    }
    &__subtitle {
        color:$promo-color;
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
    }
    &__link {
        color: $promo-color;
        font-weight: bold;
        &:hover {
            color:$promo-color;
            text-decoration: none;
        }
    }
    &__wrapper {
        margin-left: 40%;
    }
}